# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next/
out/

# Environment files
.env*

# Debug
*.log

# Version control
.git
.github
.gitignore

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project files
README.md
LICENSE
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore